
:root {
  --white: #ffffff;
  --dark: #002e2a;
  --gray: #DEDEDE;
  --red: #dc0a2d;
  --green: #52ae5f;
  --red-hard: #ab0621;
  --blue: #27aafc;
  --yellow: #fff383;
}

html {
  background: var(--red);
  font-family: system-ui, sans-serif;
}

@font-face {
  font-family: pokemon-solid;
  src: url('/pokemon-solid.ttf');
}

.poke-font {
  color: yellow;
  text-shadow: 4px 4px 0px #0b43e9;
  font-family: pokemon-solid;
}

.layout__title {
  font-size: 32px;
}
