
:root {
  --white: #ffffff;
  --dark: #002e2a;
  --gray: #DEDEDE;
  --red: #dc0a2d;
  --green: #52ae5f;
  --red-hard: #ab0621;
  --blue: #27aafc;
  --yellow: #fff383;
}

html {
  background: var(--gray);
  font-family: system-ui, sans-serif;
}

@font-face {
  font-family: pokemon-solid;
  src: url('/pokemon-solid.ttf');
}

.poke-font {
  color: yellow;
  text-shadow: 4px 4px 0px #0b43e9;
  font-family: pokemon-solid;
}

html,
body,
.layout {
  @apply min-h-full;
}

.layout {
  @apply sm:w-96 sm:my-5 mx-auto sm:rounded-xl sm:h-auto flex flex-col;
  background: linear-gradient(235deg, rgba(232,38,65,1) 6%, rgba(241,69,65,1) 16%, rgba(232,38,65,1) 29%, rgba(232,38,65,1) 53%, rgba(250,81,100,1) 63%, rgba(232,38,65,1) 73%, rgba(250,81,100,1) 83%, rgba(232,38,65,1) 89%);
  box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.75);
}

@media (max-width: 640px) {
  .layout {
    box-shadow: none;
  }
  html,
  body {
    height: 100vh;
  }
}

.layout__title {
  font-size: 32px;
}

.text-white {
  color: var(--white);
}