---
import Layout from '../layouts/Layout.astro';
import Pokemon from '../components/Pokemon';
import '../styles/main.css';
---

<Layout title="Who's that pokemon?">
	<main>
		<Pokemon client:only />
	</main>
</Layout>

<style>
</style>
