---
import Layout from '../layouts/Layout.astro';
import Pokemon from '../components/Pokemon/index.astro';
import '../styles/main.css';
---

<Layout title="Who's that Pokemon?">
	<main>
		<Pokemon />
	</main>
</Layout>
