<div class="text-right">
  <a
    href="https://ko-fi.com/jesusescamilla"
    target="_blank"
    class="underline text-yellow-200"
  >
    Gift me a coffee
    <img
      class="inline-block"
      width="48px"
      src="/kofi.png"
    />
  </a>
</div>